@model Phonebook_program.Models.ContactViewModel
@using Phonebook_program.Controllers

@{

}

<h2>Список контактов</h2>
<hr />

<div class="container">
    <div class="row col-lg-12">
            <div class="col-md-8">
                <form asp-controller="Contact" asp-action="Add">
                    <input class="btn" type="submit" value="Добавить контакт" />
                </form>
            </div>
        <div class="col-md-4" style="text-align: end;">
                <input class="btn" type="text" value="" />
                <input class="btn" type="submit" value="Поиск" onclick="" />
            </div>
    </div>
    <br />
    <div class="box row col-lg-12">        
            <table class="table">
                <thead class="thead-light">
                    <tr class="text-center">
                        <th class="text-center">Имя</th>
                        <th class="text-center">Фамилия</th>
                        <th class="text-center">Телефон</th>
                        <th class="text-center">Почта</th>
                        <th class="text-center" colspan="2">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.contacts!)
                {
                    <tr>
                        <td class="text-center"  asp-for="Name">@item.Name</td>
                        <td class="text-center"  asp-for="Surname">@item.Surname</td>
                        <td class="text-center" asp-for="PhoneNumber">@item.PhoneNumber</td>
                        <td class="text-center" asp-for="Email">@item.Email</td>
                        <td style="width:100px">
                            <form asp-controller="Contact" asp-action="Delete" method="post" asp-route-id="@item.Id">
                                <input class="btn-mini" type="submit" value="Delete">
                            </form>
                        </td>
                        <td style="width:100px">
                            <form asp-controller="Contact" asp-action="Edit" asp-route-id="@item.Id">
                                <input class="btn-mini" type="submit" value="Edit">
                            </form>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>