@model Phonebook_program.Models.ContactViewModel
@using Phonebook_program.Controllers

@{

}

<h2>Список контактов</h2>
<hr />

<div class="row">
    <div class="ext-left">
        <form asp-controller="Contact" asp-action="Add">
            <input type="submit" value="Добавить контакт" />
        </form>

    </div>
</div>
<table class="table">
    <thead class="thead-light">
        <tr class=""><th>Имя</th><th>Фамилия</th><th>Телефон</th><th>Действия</th></tr>
    </thead>
    <tbody>
        @foreach (var item in Model.contacts)
    {
        <tr>
                <td asp-for="Name">@item.Name</td>
                <td asp-for="Surname">@item.Surname</td>
                <td asp-for="PhoneNumber">@item.PhoneNumber</td>
            <td>
                    <form asp-controller="Contact" asp-action="Delete" method="post" asp-route-id="@item.Id">
                        <input type="submit" value="Delete">
                    </form>
                    <form asp-controller="Contact" asp-action="Edit" asp-route-id="@item.Id">
                        <input type="submit" value="Edit">
                    </form>
            </td>
        </tr>
    }
    </tbody>
</table>