@model Phonebook_program.Models.ContactViewModel
@using Phonebook_program.Controllers

@{

}

<h2>Список контактов</h2>
<hr />

<div class="container">
    <div class="row col-lg-12">
            <div class="col-md-8">
                <form asp-controller="Contact" asp-action="Add">
                    <input class="btn" type="submit" value="Добавить контакт" />
                </form>
            </div>
        <div class="col-md-4" style="text-align: end;">
                <input class="btn" type="text" value="" />
                <input class="btn" type="submit" value="Поиск" onclick="" />
            </div>
    </div>
    <br />
    <div class="box row col-lg-12">
        <div class="table-responsive">
            <table class="table project-list-table table-nowrap align-middle table-borderless">
                <thead class="thead-light">
                    <tr class="text-center">
                        <th >Имя</th>
                        <th >Фамилия</th>
                        <th >Телефон</th>
                        <th >Почта</th>
                        <th class="text-center">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.contacts!)
                {
                    <tr>
                        <td asp-for="Name">
                            <div class="avatar-sm d-inline-block me-2">
                                <div class="avatar-title bg-soft-primary rounded-circle text-primary"><i class="mdi mdi-account-circle m-0"></i></div>
                            </div>
                            <a href="#" class="text-body">@item.Name</a>
                        </td>
                        <td class="text-center" asp-for="Surname"><a href="#" class="text-body">@item.Surname</a></td>
                        <td class="text-center" asp-for="PhoneNumber"><span class="badge badge-soft-primary mb-0">@item.PhoneNumber</span></td>
                        <td class="text-center" asp-for="Email"><span class="badge badge-soft-success mb-0">@item.Email</span></td>
                        <td style="width:100px">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <form asp-controller="Contact" asp-action="Edit" method="post" asp-route-id="@item.Id">
                                        <button class="btn-mini"><i class="bx bx-pencil font-size-18"></i>edit</button>
                                    </form>
                                </li>
                                <li class="list-inline-item">
                                    <form asp-controller="Contact" asp-action="Delete" method="post" asp-route-id="@item.Id">
                                        <button class="btn-mini"><i class="bx bx-trash-alt font-size-18"></i>delete</button>
                                    </form>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>